.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 85%
}

body {
  background-image: url(christredeemersmaller.png);
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 60%;
  font-size: 4em;
}

h2 {

}

.summary {
 
}


@media screen and (max-width: 768px) {

	.page-wrapper {
		width: 100%;
	}
  
  h1 {
    padding-bottom: 40%;
    font-size 2em;
  }

}

@media screen and (max-width: 482px) {
 
    h1 {
    padding-bottom: 10%;
    font-size 1em;
  }
}