.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 85%
}

body {
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  display: flex;
}

h2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; 
}

.summary {
  display: inline-block;
  padding-left: 0;
}


@media (min-width: 789px) {

	.page-wrapper {
		width: 100%;
	}
  
  .summary {
    padding-left: 75%;
  }

}